<div class="top-nav">    
    <h1 class="intro-title"> Auntie J loves Nathaniel!<h1>
</div>


<div class= "nathaniel_home_img"></div>

<div class="triangle-down-tilt-left"></div>

<div class="triangle-down-tilt-right"></div>

<div class="triangle-down"></div>

<h3 class="activity-title">Read a bedtime story!</h3>


<div class="fox-video">
    <iframe src="https://player.vimeo.com/video/509522806" width="640" height="360" frameborder="1" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div>